* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  body {
    width: 375px;
    height: 100%;
    margin: 0 auto;
  }

  header {
    background-color: #3c3a39;
    height: 10vh;
    width: 100%;
  }

  .header-link {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 25px 30px;
  }

  ul li {
    list-style-type: none;
  }

  ul li a {
    text-decoration: none;
    color: #fff;
  }

  .right-nav {
    display: none;
  }

  .name {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    font-family: 'Crete Round', sans-serif;
    cursor: pointer;
  }

  .head-line {
    background-image: url("./Img/mobbg.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 100%;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    background-color: #1c1a19;
    height: 90vh;
  }

  .greet {
    padding: 50px 0 0 24px;
    color: #ff6b00;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.37px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
  }

  .job {
    padding: 5px 24px;
    color: #fff5e1;
    font-family: Arial, sans-serif, 'Roboto';
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    font-style: normal;
  }

  .we-do {
    padding: 10px 24px;
    font-family: Arial, sans-serif, 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .web-link ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 0 0 0 24px;
  }

  .details {
    color: #fff;
    font-family: Arial, sans-serif, 'Roboto';
  }

  .works {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    row-gap: 10px;
    justify-items: center;
    margin: 0;
  }

  .works h2 {
    color: #1c1a19;
    font-family: 'Crete Round', sans-serif;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    padding: 100px 24px 10px;
  }

  .works img {
    padding: 25px;
  }

  .stories-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .stories-intro img {
    width: 100%;
  }

  .stories-intro h2 {
    font-size: 32px;
    font-weight: 400;
    color: #091e42;
    font-family: 'Crete Round', arial, sans-serif;
    align-self: flex-start;
    padding: 0 20px;
  }

  .stories-intro p {
    font-weight: 400;
    font-size: 16px;
    color: #091e42;
    font-family: arial, sans-serif, 'Inter';
    line-height: 24px;
    padding: 0 20px;
  }

  .stories-intro .projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
  }

  .pro-btn {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
    padding: 5px 0;
  }

  .pro-btn .css-btn {
    background-color: #fff;
    border: 1px solid #8993a4;
    width: 49px;
    height: 40px;
    font-weight: 700;
    font-family: arial, sans-serif, 'Inter';
    font-size: 15px;
    line-height: 20px;
    color: #091e42;
    cursor: pointer;
    margin: 5px 0;
  }

  .pro-btn .html-btn {
    background-color: #fff;
    border: 1px solid #8993a4;
    width: 56px;
    height: 40px;
    font-weight: 500;
    font-family: arial, sans-serif, 'Inter';
    font-size: 15px;
    line-height: 20px;
    color: #091e42;
    cursor: pointer;
    margin: 5px 0;
  }

  .pro-btn .bs-btn {
    background-color: #fff;
    border: 1px solid #8993a4;
    width: 95px;
    height: 40px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #091e42;
    cursor: pointer;
    margin: 5px 0;
  }

  .pro-btn .ruby-btn {
    background-color: #fff;
    border: 1px solid #8993a4;
    width: 61px;
    height: 40px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #091e42;
    cursor: pointer;
    margin: 5px 0;
  }

  .submit-pro-btn #mul-pro {
    color: #fff;
    font-weight: 700;
    font-size: 17px;
    width: 124px;
    height: 48px;
    background-color: #ff6b00;
    gap: 10px;
    border: none;
    margin: 5px 0;
    cursor: pointer;
  }

  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5,
  .card-6 {
    background-image: url("./Img/bg-img.svg");
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .card-1 h2,
  .card-2 h2,
  .card-3 h2,
  .card-4 h2,
  .card-5 h2,
  .card-6 h2 {
    color: #fff;
    font-family: 'Crete Round', arial, sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
  }

  .card-1 p,
  .card-2 p,
  .card-3 p,
  .card-4 p,
  .card-5 p,
  .card-6 p {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    padding: 0 24px;
  }

  .h2-d {
    display: none;
  }

  .card-1-ul,
  .card-2-ul,
  .card-3-ul,
  .card-4-ul,
  .card-5-ul,
  .card-6-ul {
    display: flex;
    gap: 12px;
    padding: 5px 24px;
  }

  [class*="html-btn"] {
    color: #fff;
    background: rgba(255, 255, 255, 0.24);
    border: 1px solid #8993a4;
    width: 56px;
    height: 40px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;
    margin: 10px 0;
  }

  [class*="bs-btn"] {
    background: rgba(255, 255, 255, 0.24);
    border: 1px solid #8993a4;
    width: 95px;
    height: 40px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px 0;
  }

  [class*="ruby-btn"] {
    background: rgba(255, 255, 255, 0.24);
    border: 1px solid #8993a4;
    width: 61px;
    height: 40px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px 0;
  }

  [class*="see-pro"] {
    color: #fff;
    font-weight: 700;
    font-size: 17px;
    width: 100%;
    height: 48px;
    background-color: #ff6b00;
    border: none;
    cursor: pointer;
  }

  .about-me {
    padding: 0 0 100px 0;
    background-color: #1c1a19;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .basic-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 100px;
    background-image: url("./Img/Group.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 100%;
    background-position-y: 90%;
  }

  .basic-info h2 {
    font-size: 72px;
    font-weight: 400;
    font-family: 'Crete Round', sans-serif;
    line-height: 88px;
    color: #ff6b00;
    padding: 0 24px;
  }

  .basic-info p {
    font-size: 16px;
    color: #f4f5f7;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    line-height: 24px;
    padding: 0 24px;
  }

  .basic-info .rus-btn {
    width: 161px;
    height: 48px;
    background-color: #ff6b00;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    font-size: 17px;
  }

  .basic-info ul {
    padding: 24px 0 100px 24px;
  }

  .btm-bor {
    padding: 24px;
  }

  .btm-bor-d {
    display: none;
  }

  .lan-tag,
  .fw-tag,
  .skill-tag {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rect-55 {
    width: 12px;
  }

  .rect-56 {
    width: 8px;
  }

  .rect-57 {
    width: 10px;
  }

  .language h2,
  .freamworks h2,
  .skills h2 {
    color: #fff;
    font-family: 'InaiMathi', arial, sans-serif;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    padding: 10px 10px;
  }

  .lan-tag {
    padding-top: 50px;
  }

  .language ul li,
  .freamworks ul li,
  .skills ul li {
    padding: 10px 0;
    font-family: arial, sans-serif, 'Inter';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
  }

  .form-intro h2 {
    font-size: 32px;
    font-family: 'Inter', arial, sans-serif;
    line-height: 44px;
    text-align: center;
    color: #172b4d;
    font-weight: 700;
    padding: 100px 24px 50px 24px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 24px;
    padding-bottom: 100px;
    align-items: center;
  }

  .input-name,
  .input-email {
    width: 295px;
    height: 18px;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Inter', arial, sans-serif;
    line-height: 24px;
    color: #979493;
    border: none;
  }

  .input-textarea {
    width: 327px;
    height: 114px;
    background-color: #fbf8f7;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Inter', arial, sans-serif;
    line-height: 24px;
    columns: #3c3a39;
    border: none;
    padding-left: 15px;
  }

  .get-in-touch {
    color: #fff;
    font-weight: 700;
    font-size: 17px;
    width: 131px;
    height: 48px;
    background-color: #ff6b00;
    border: none;
    cursor: pointer;
    align-self: center;
  }

  .get-in-touch:hover {
    background-color: #1c1a19;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;
    border-top: 1px solid #dfe1e6;
    height: 100%;
    margin-bottom: 10px;
  }

  .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 60px;
  }

  .bottom-line {
    width: 134px;
    height: 5px;
    align-self: center;
    margin-top: 10px;
  }
}

@media screen and (min-width: 768px) {
  header {
    background-color: #3c3a39;
    height: 10vh;
    width: 100%;
  }

  nav {
    max-width: 1100px;
    margin: 0 auto;
  }

  .header-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
  }

  .name {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    font-family: Arial, sans-serif, 'Crete Round';
    cursor: pointer;
  }

  .name-class li {
    transition: 2s;
  }

  .name-class li:hover {
    transform: rotateY(360deg);
  }

  .port-link:hover,
  .about-link:hover,
  .contact-link:hover {
    border-bottom: 2px solid #f55800;
    padding: 10px;
  }

  li {
    list-style-type: none;
  }

  ul li a {
    text-decoration: none;
    color: #fff;
  }

  .right-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  .humburger {
    display: none;
  }

  .head-line {
    background-image: url("./Img/Illustration-header.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 100%;
    background-position-y: 40%;
    padding: 20px 20px;
    display: flex;
    background-color: #1c1a19;
    height: 90vh;
  }

  .web-link {
    order: -1;
    align-self: center;
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    padding-left: 70px;
  }

  .greet {
    width: 566px;
    height: 160px;
    font-family: 'Crete Round', sans-serif;
    font-weight: 400;
    font-size: 92px;
    color: #f55800;
    line-height: 82px;
  }

  .job {
    width: 566px;
    height: 24px;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
  }

  .we-do {
    width: 566px;
    height: 123px;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }

  .git-h,
  .link-i,
  .pi,
  .twwi,
  .mm-m {
    padding-bottom: 10px;
  }

  .git-h:hover,
  .link-i:hover,
  .pi:hover,
  .twwi:hover,
  .mm-m {
    margin: 10px;
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .works {
    width: 1100px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    padding: 100px 0;
  }

  .resent-work-intro {
    margin-bottom: 100px;
    grid-column: span 12;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .resent-work-intro h2 {
    font-size: 32px;
    font-weight: 400;
    font-family: 'Crete Round', sans-serif;
    line-height: 52px;
    color: #091e42;
  }

  .border-b {
    width: 794px;
    color: #212121;
  }

  .stories-intro {
    grid-column: span 12;
    display: flex;
    justify-content: center;
    padding-top: 0;
    gap: 10px;
  }

  .stories-intro img {
    width: 684px;
    height: 448px;
  }
  .stories-intro img:hover {
    margin: 10px;
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .story-detail {
    display: flex;
    flex-direction: column;
  }

  .story-detail h2 {
    font-family: 'Crete Round', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    width: 448px;
    height: 48px;
  }

  .story-detail p {
    font-family: sans-serif, 'Inter';
    font-weight: 400;
    font-size: 20px;
    width: 448px;
    height: 140px;
    color: #091e42;
  }

  .pro-btn {
    display: flex;
  }

  .pro-btn .css-btn {
    background-color: #fff;
    border: 1px solid #8993a4;
    width: 49px;
    height: 40px;
    font-weight: 700;
    font-family: arial, sans-serif, 'Inter';
    font-size: 15px;
    line-height: 20px;
    color: #091e42;
    cursor: pointer;
    margin: 5px 0;
  }

  .pro-btn .html-btn {
    background-color: #fff;
    border: 1px solid #8993a4;
    width: 56px;
    height: 40px;
    font-weight: 500;
    font-family: arial, sans-serif, 'Inter';
    font-size: 15px;
    line-height: 20px;
    color: #091e42;
    cursor: pointer;
    margin: 5px 0;
  }

  .pro-btn .bs-btn {
    background-color: #fff;
    border: 1px solid #8993a4;
    width: 95px;
    height: 40px;
    font-weight: 500;
    font-family: arial, sans-serif, 'Inter';
    font-size: 15px;
    line-height: 20px;
    color: #091e42;
    cursor: pointer;
    margin: 5px 0;
  }

  .pro-btn .ruby-btn {
    background-color: #fff;
    border: 1px solid #8993a4;
    width: 61px;
    height: 40px;
    font-weight: 500;
    font-family: arial, sans-serif, 'Inter';
    font-size: 15px;
    line-height: 20px;
    color: #091e42;
    cursor: pointer;
    margin: 5px 0;
  }

  .submit-pro-btn #mul-pro {
    color: #fff;
    font-weight: 700;
    font-size: 17px;
    width: 124px;
    height: 48px;
    background-color: #ff6b00;
    gap: 10px;
    border: none;
    margin: 5px 0;
    cursor: pointer;
  }

  .card-2 h2,
  .card-3 h2,
  .card-4 h2,
  .card-5 h2,
  .card-6 h2 {
    color: #fff;
    font-family: 'Crete Round', arial, sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    padding: 0 10px;
  }

  .card-1 p,
  .card-2 p,
  .card-3 p,
  .card-4 p,
  .card-5 p,
  .card-6 p {
    color: #fff;
    font-family: arial, sans-serif, 'Inter';
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    padding: 0 10px;
  }

  .card-1 h2,
  .card-1 p,
  .card-1 .html-btn,
  .card-1 .bs-btn,
  .card-1 .ruby-btn {
    display: none;
  }

  .card-2 .see-pro,
  .card-3 .see-pro,
  .card-4 .see-pro,
  .card-5 .see-pro,
  .card-6 .see-pro {
    display: none;
  }

  .card-2-ul,
  .card-3-ul,
  .card-4-ul,
  .card-5-ul,
  .card-6-ul {
    display: flex;
    padding-left: 10px;
    gap: 10px;
  }

  .card-1 {
    background-image: url("./Img/Img\ Placeholder\ \(2\).svg");
  }

  .card-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 158px;
    background-image: url("./Img/Img\ Placeholder\ \(3\).svg");
  }

  .card-3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 200px;
    background-image: url("./Img/Img\ Placeholder\ \(4\).svg");
  }

  .card-4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 157px;
    background-image: url("./Img/Img\ Placeholder\ \(5\).svg");
  }

  .card-5 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 157px;
    background-image: url("./Img/Img\ Placeholder\ \(6\).svg");
  }

  .card-6 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 200px;
    background-image: url("./Img/Img\ Placeholder\ \(7\).svg");
  }

  [class^="card-"] {
    grid-column: span 4;
    width: 369px;
    height: 435px;
    justify-self: center;
  }

  .h2-m {
    display: none;
  }

  [class*="html-btn"] {
    color: #fff;
    background: rgba(255, 255, 255, 0.24);
    border: 1px solid #8993a4;
    width: 56px;
    height: 40px;
    font-weight: 500;
    font-family: arial, sans-serif, 'Inter';
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;
    margin: 10px 0;
  }

  [class*="bs-btn"] {
    background: rgba(255, 255, 255, 0.24);
    border: 1px solid #8993a4;
    width: 95px;
    height: 40px;
    font-weight: 500;
    font-family: arial, sans-serif, 'Inter';
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px 0;
  }

  [class*="ruby-btn"] {
    background: rgba(255, 255, 255, 0.24);
    border: 1px solid #8993a4;
    width: 61px;
    height: 40px;
    font-weight: 500;
    font-family: arial, sans-serif, 'Inter';
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px 0;
  }

  .see-pro-d-new {
    color: #fff;
    font-weight: 700;
    font-size: 17px;
    width: 100%;
    height: 48px;
    background-color: #ff6b00;
    border: none;
    cursor: pointer;
    margin-top: 387px;
  }

  .card-1 .see-pro-d {
    display: none;
  }

  .about-me {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    background-color: #262626;
    background-image: url("./Img/Groupabm.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 100%;
    background-position-y: 10%;
    padding-bottom: 100px;
  }

  .basic-info {
    width: 1100px;
    margin: 0 auto;
    padding: 100px 0;
  }

  .basic-info h2 {
    font-size: 72px;
    font-weight: 400;
    font-family: 'Crete Round', sans-serif;
    line-height: 82px;
    width: 566px;
    height: 78px;
    color: #f55800;
  }

  .basic-info p {
    width: 566px;
    height: 148px;
    font-family: sans-serif, 'Inter';
    font-weight: 400;
    font-size: 20px;
    color: #f4f5f7;
    padding-top: 24px;
  }

  .basic-info .rus-btn {
    width: 161px;
    height: 48px;
    background-color: #ff6b00;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    font-size: 17px;
  }

  .rus-btn:hover {
    background-color: #1c1a19;
    border: 2px solid #f55800;
    border-radius: 8px;
  }

  .basic-info .btm-bor {
    display: none;
  }

  .btm-bor-d {
    padding-top: 100px;
  }

  .add-info {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    gap: 300px;
  }

  .lan-tag,
  .fw-tag,
  .skill-tag {
    display: flex;
  }

  .rect-55 {
    width: 16px;
  }

  .rect-56 {
    width: 12px;
  }

  .rect-57 {
    width: 14px;
  }

  .language h2,
  .freamworks h2,
  .skills h2 {
    color: #fff;
    font-family: 'InaiMathi', arial, sans-serif;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    padding: 10px 10px;
  }

  .language ul li,
  .freamworks ul li,
  .skills ul li {
    padding: 10px 0;
    font-family: arial, sans-serif, 'Inter';
    font-weight: 400;
    font-size: 16px;
  }

  .contact-form {
    display: grid;
    grid-template-columns: auto auto;
    width: 1100px;
    margin: 0 auto;
    padding-top: 100px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .form-intro h2 {
    width: 455px;
    height: 256px;
    font-size: 32px;
    font-family: 'Inter', arial, sans-serif;
    line-height: 44px;
    color: #172b4d;
    font-weight: 700;
  }

  .input-name,
  .input-email {
    width: 295px;
    height: 18px;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Inter', arial, sans-serif;
    line-height: 24px;
    color: #979493;
    border: none;
  }

  .input-textarea {
    width: 486px;
    height: 114px;
    background-color: #fbf8f7;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Inter', arial, sans-serif;
    line-height: 24px;
    columns: #3c3a39;
    border: none;
  }

  .input-line {
    width: 486px;
  }

  .get-in-touch {
    color: #fff;
    font-weight: 700;
    font-size: 17px;
    width: 131px;
    height: 48px;
    background-color: #ff6b00;
    border: none;
    cursor: pointer;
  }

  .get-in-touch:hover {
    background-color: #1c1a19;
    border: 2px solid #f55800;
    border-radius: 8px;
  }

  footer {
    margin-top: 100px;
    height: 60px;
    border-top: 1px solid #dfe1e6;
    width: 100%;
  }

  .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
  }

  .bottom-line {
    display: none;
  }
}
